<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
	<insert id="insert" parameterType="cartDto">
		INSERT INTO cart
		(id, pNo, pTitle, pPrice, pCheck)
		VALUES(#{id}, #{pNo}, #{pTitle}, #{pPrice}, 0)
	</insert>
	
	<select id="getList" resultType="cartDto">
		SELECT *
			FROM cart
		WHERE id=#{id}
	</select>
	
	<select id="getList2" resultType="cartDto">
		SELECT *
			FROM cart
		WHERE id=#{id} AND pCheck=1
	</select>
	
	<select id="getData" parameterType="String" resultType="cartDto">
		SELECT *
		FROM cart
		WHERE pNo=#{pNo}
	</select>
	
	<delete id="deleteproduct" parameterType="int">
		DELETE FROM cart
		WHERE pNo=#{pNo} AND id=#{id}
	</delete>
</mapper>