<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coupon">
	<insert id="insert" parameterType="com.team4.acornshop.dto.CouponDto">
		INSERT INTO coupon
 		(cNo, cSerial_Number, cName, cDiscount_Amount, id, cIsUsed, cRegdate, cExpiration_Date) 
 		VALUES(coupon_seq.NEXTVAL, #{cSerial_Number}, #{cName}, #{cDiscount_Amount}, #{id}, #{cIsUsed}, SYSDATE, SYSDATE+180) 
	</insert>
</mapper> 