<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="getList" parameterType="noticeDto" resultType="noticeDto">
		SELECT nNo, nTitle, nContent, regdate
		from notice
		order by nNo desc
	</select>
	<insert id="insert" parameterType="noticeDto">
		INSERT INTO notice
		(nNo, nTitle, nContent, regdate)
		values(notice_seq.NEXTVAL, #{nTitle}, #{nContent}, SYSDATE)
	</insert>
	<select id="getData" parameterType="int" resultType="noticeDto">
			SELECT nNo,nTitle,nContent,
				TO_CHAR(regdate,'YY.MM.DD HH24:MI') AS regdate
			FROM notice
			WHERE nNo=#{nNo}
	</select>
	<update id="update" parameterType="noticeDto">
		UPDATE notice
		SET nTitle=#{nTitle}, nContent=#{nContent}
		WHERE nNo=#{nNo}
	</update>	
	<delete id="delete" parameterType="int">
		DELETE FROM notice
		WHERE nNo=#{nNo}
	</delete>
	<update id="addViewCount" parameterType="int">
		UPDATE notice
		SET nViewCount=nViewCount+1
		WHERE nNo=#{nNo}
	</update> 
	<select id="getCount" parameterType="noticeDto" resultType="int">
      SELECT NVL(MAX(ROWNUM), 0)
      FROM notice
   </select>
</mapper>