<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<insert id="insert" parameterType="productDto">
		INSERT INTO product
		(pNo, pTitle, pPrice, pShipping, pChange, pContents, pCategory, pIsUsed, pRegdate,orgFileName, saveFileName, fileSize)
		VALUES(prd_seq.NEXTVAL,#{pTitle},#{pPrice},#{pShipping},#{pChange},#{pContents},#{pCategory},#{pIsUsed},SYSDATE,#{orgFileName},#{saveFileName},#{fileSize})
	</insert>
	<select id="getData" parameterType="int" resultType="productDto">
		SELECT pTitle,pContents,pPrice
			FROM product where pId=#{pId}
	</select>
	
	<select id="getList" resultType="productDto">
		SELECT pId,pTitle,pContents,pPrice
			FROM product
	</select>
</mapper>
